
body { 
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

header {
    position: relative;
    background: black;
    height: 80px;
   

}

.logo {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    color: white;
    font-weight: bolder;
}

#container1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
    right: 73px;
    top: 50%;
    transform: translateY(-50%);
}

.P, .S, .B, .Ins, .Ent {
    cursor: pointer;
}

.P{
    margin-right: 30px;
}


.S{
    margin-right: 30px;
}

.B{
    margin-right: 30px;
}

.Barra{
    margin-right: 30px;
    cursor: default;
}

.Ins{
   color: rgb(230, 230, 230);
    margin-right: 30px;
}

.Ent{
    color: rgb(230, 230, 230);
    margin-right: 30px;
}

main {
    font-family: sans-serif;
    padding-top: 1px;
    color: white;
    background: #1d75de;
    width: 100%;
    height: 398px;
}

.conteudo {
    font-size: 20px;
    position: relative;
    left: 105px;
    top: 48px;
}

h1 {
   margin-bottom: 38px;
}

h2 {
    margin-bottom: 37px;
    font-size: 23px;
}

.Button {
    margin-bottom: 10px;
}


#Comecar {
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    color: white;
    font-size: 20px;
    display: inline-block;
    border: 2px solid rgb(14, 14, 14);
    border-radius: 40px;
    letter-spacing: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: rgb(14, 14, 14);
    margin-right: 4px;
    transition: 0.2s;
    
}

#Comecar:hover {
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;    
    display: inline-block;
    border: 2px solid black;
    border-radius: 40px;
    letter-spacing: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: black;
    margin-right: 4px;  
}

#VerPlanos {
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    color: white;
    font-size: 20px;
    background-color: transparent;
    display: inline-block;
    border: 2px solid white;
    border-radius: 40px;
    letter-spacing: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.2s;
}

#VerPlanos:hover {
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    color: white;
    font-size: 20px;
    background-color: #1c68c5;
    display: inline-block;
    border: 2px solid white;
    border-radius: 40px;
    letter-spacing: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
}

#termos {
    display: inline-block;
}

#MesGratis {
    display: inline-block;
}

#TermosMesG {
    margin-top: 28px;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

a {
    color: white;
}

#PqserPremium{
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}